@media screen and (min-width: 321px) and (max-width: 576px){
    nav, li{
       display: inline-block;
       text-align: center;
       }
    h1{
        font-size: 4.5rem;
    }
    h2{
        font-weight: bold;
    }
    table {
        margin: 0 auto;
    }      
   }